.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  margin: 16px;
  background-image: url('https://www.cognite.com/hubfs/Cognite%20Landing%20Pages%20Nov%202019/Images/CogniteLogo_new.svg');
  background-size: cover;
}

.site-layout .site-layout-background {
  background: #fff;
}
.main-layout {
  height:100vh;
}

.message {
  display: flex;
  padding-top: .5em;
  padding-left: .5em;
  transition: background-color .2s;
  cursor: pointer;
}

.message h3 {
  font-weight: bold;
  margin:0;
}

.message:not(:first-child){
  border-bottom: .5px solid rgba(117,117,117 ,.3);
}

.message:hover {
  background-color: rgba(117,117,117 ,.3);
}

.message img {
  height: 50px;
  width: 50px;
  border-radius: 5px;
  margin-right: 1em;
}

.messages {
  height: 85vh;
  overflow: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse
}

.message-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userProfile {
  margin-right: 2em;
  cursor: pointer;
  user-select: none;
}


.characters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.characters .character {
  margin: 1.8em;
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.characters .character img {
  width: 100px;
  height: 100px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.characters .character p {
  padding-top: .5em;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: background-color .2s;
}

.characters .character:hover p {
  background-color: rgba(176,190,197 ,1);
}